{% extends 'base.html' %}
{% block css %}
  <style>
    body {
      padding: 0;
      margin: 0;
      height: 100vh;
      background: #0c6487;
      background: linear-gradient(90deg, rgba(12, 100, 135, 1) 0%, rgba(194, 70, 70, 1) 27%, rgba(160, 210, 109, 1) 76%, rgba(237, 221, 83, 1) 100%);
    }
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }
    .btn button a
    {
      list-style: none;
      color: white;
      font-size: 18px;
      text-decoration: none;
    }
    .header h2 {
      color: aquamarine;
      font-family: fantasy;
      font-weight: 900;
    }
    .btn-grp {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    .main-body {
      margin-top: 20px;
      margin-left: 40px;
      display: flex;
      justify-content: space-between;
    }
    .search-section {
      width: 300px;
    }
    .search-section label {
      color: wheat;
      font-size: large;
    }
    .img-card {
      margin-top: 15px;
      margin-right: 100px;
      height: 200px;
      width: 200px;
      border-radius: 50%;
    
      overflow: hidden;
    }
    .img-card img {
      object-fit: contain;
      object-position: center;
    }
    .show-content {
      border-radius: 30px;
      margin: 30px;
    }
    .food-item-show {
      color: white;
      padding: 20px;
      margin: 20px;
    }
    .dis-header {
      text-align: center;
    }
    .food-are {
      display: flex;
      gap: 20px;
    }
    .food-are .img img {
      border-radius: 30px;
    }
    .food-info p{
      
    }
   
    .dis-header {
      margin-bottom: 20px;
    }
    .food-are {
      margin-bottom: 20px;
    }
    .food-info {
      margin-bottom: 20px;
    }
  </style>
{% endblock %}
{% load static %}
{% block body %}
  <div class="header">   
    <h2>Food Recipe Section</h2>
     <div class="btn">
       <button type="button" class="btn btn-success"><a href="{% url 'mainPage' %}">Go Back</a></button>
    </div>
  </div>
  <div class="main-body">
    <div class="search-section">
      <div class="mb-3">
        <form action="{% url 'food_serach' %}" method="POST">
          {% csrf_token %}
          <label for="exampleFormControlInput1" class="form-label">search Recipe</label>
          <input type="text" name="food" class="form-control" id="exampleFormControlInput1" placeholder="Enter Food name" />
        </form>
      </div>
    </div>
    <div class="img-card">
      <img src="{% static 'images/p1.jfif' %}" class="card-img-top" alt="food-img-logo" />
    </div>
  </div>
  

  <div class="show-content">
    {% for meal in meals %}
      <div class="food-item-show">
        <div class="dis-header">
          <h1>{{ forloop.counter }} {{ meal.strMeal }}</h1>
        </div>
        <div class="food-are">
          <div class="img">
            <img src="{{ meal.strMealThumb }}" alt="{{ meal.strMeal }}" width="300" height="200" />
          </div>
        </div>
        <div class="food-info">
          <p>Category: {{ meal.strCategory }}</p>
          
          <p>Recipe: <span>{{ meal.strInstructions }}</span></p>
         
        </div>
        <div class="src-link">
          <p>
            <a href="{{ meal.strYoutube }}" target="_blank">Youtube Link</a>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
