{% extends 'base.html' %}
{% block css %}
  <style>
    body{
        padding: 0;
        margin: 0;
        background-color: #4F3F47;
        color: wheat;
    }
    .container
    {
        width: 400px;
        margin: 60px;
    }
  </style>

{% endblock css %}
{% block body %}
  
  <div class="container">
    <h1>This is login Page</h1>
    <div class="login_form">
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required/>
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" required/>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" required/>
          <label class="form-check-label" for="exampleCheck1" >Check me out</label>
        </div>
        <p>don't have acc <a href={% url "signup_page" %}>signup</a></p>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
    </div>
  </div>
{% endblock %}
